# Test sets are no longer needed (submitted code is now run by the server)
*-small*
*-large*

# Do not upload hash-code input files
hash-code/*/datasets

# Do not upload reply input files
reply/*/datasets

# Do not upload output files
*.out
output
